.beers {
  position: relative;
  display: grid;
  height: 80vh;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, minmax(38rem, min-content));
  grid-gap: 5rem;
  grid-auto-flow: column;
  justify-content: center;
  overflow-y: scroll;
  grid-auto-flow: row;

  &__notfound {
    font-size: 5rem;
    color: yellowgreen;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 450px) {
    grid-template-columns: repeat(auto-fill, minmax(30rem, min-content));
  }
}
